<div class='row'>
  <div class='col-md-4'>
    <%= image_tag user.photo, :class => 'userPhoto', alt: 'user-photo' %>
  </div>
  <div class='col-md-8'>
    <h3><%= link_to user.name, user %></h3>
    <p>Number of posts: <%= user.posts_counter.nil? ? 0 : user.posts_counter %></p>
  </div>
</div>